<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865663062855-nmqkfck3e4310k9465hsicg5uflmdf7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865663062855-nmqkfck3e4310k9465hsicg5uflmdf7d</string>
	<key>API_KEY</key>
	<string>AIzaSyCmQvztdxDOuywvJRcqjGRh0UMH9-Ivpqk</string>
	<key>GCM_SENDER_ID</key>
	<string>865663062855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forrestliyx.RoberTA-Demo</string>
	<key>PROJECT_ID</key>
	<string>roberta-5eb35</string>
	<key>STORAGE_BUCKET</key>
	<string>roberta-5eb35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865663062855:ios:f8ce496a2ce5add8cab262</string>
</dict>
</plist>